.footer {
    padding: 30px 0;
    min-height: 20vh;
    margin-top: 70px;
    border-top: 1px solid #333;


}

.footer p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #333;
}

.footLinks:link, .footLinks:visited{
    color: #333;
    text-decoration: none;
}

.footLinks:hover {
    color: #2d112b;
    text-decoration: none;
    opacity: 0.8;
}