.navbar-brand {
    position: relative;
    float: left;
    margin-bottom: 0;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 20px;
    text-decoration: none;
    line-height: 2em;
    color: #F6f6F6;
    padding-top: 18px !important;
}

.icon-settings {
  font-size: 1.25em;
}
.navbar {
    height: 4.5rem !important;
    display: inline-block;
    background: none !important;

    border: 0px !important;
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 20px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #F6F6F6;
}

.navbar-list {
    display: inline-block;
    list-style: none;
}

@media (min-width: 550px) {
  .navbar-link {
        font-size: 11px;
  }

  .navbar-brand {
    margin-right: 35px;
    font-style: 15px;
  }

}
/* Larger than tablet */
// @media (min-width: 750px) {
//   /* Navbar */
//   .navbar + .docs-section {
//     border-top-width: 0; }
//   .navbar,
//   .navbar-spacer {
//     display: block;
//     width: 100%;
//     height: 6.5rem;
//     background: #fff;
//     z-index: 99;
//     border-top: 1px solid #eee;
//     border-bottom: 1px solid #eee; }
//   .navbar-spacer {
//     display: none; }
//   .navbar > .container {
//     width: 100%; }
//   .navbar-list {
//     list-style: none;
//     margin-bottom: 0; }
//   .navbar-list-right {
//     float: right;
//     list-style: none;
//     margin-bottom: 0; }
//   .navbar-item {
//     position: relative;
//     float: left;
//     margin-bottom: 0; }
//   .navbar-link {
//     text-transform: uppercase;
//     font-size: 11px;
//     font-weight: 600;
//     letter-spacing: .2rem;
//     margin-right: 35px;
//     text-decoration: none;
//     line-height: 6.5rem;
//     color: #F6F6F6; }
//   .navbar-link.active {
//     color: #0072ff; }
//   .navbar-link:hover{
//     color: #00c6ff !important;
//   }
//   .has-docked-nav .navbar {
//     position: fixed;
//     top: 0;
//     left: 0; }
//   .has-docked-nav .navbar-spacer {
//     display: block; }
//   /* Re-overiding the width 100% declaration to match size of % based container */
//   .has-docked-nav .navbar > .container {
//     width: 80%; }
// }
