nav.navbar(ng-controller='NavbarCtrl')
    .container
        .navbar-brand(href="/") {{ pageName }}
        .navbar-list(ng-repeat="link in links")
          li.navbar-item
            a.navbar-link(ng-href="{{ link.url }}") {{ link.name }}
    //- .navbar-list-right
        li.navbar-item
            a.navbar-link(ng-hide="isLoggedIn" href="/signup") sign up
        li.navbar-item
            a.navbar-link(ng-hide="isLoggedIn" href="/signin") sign in
        li.navbar-item
            a.navbar-link(ng-show="isLoggedIn" href="/signout") sign out
        li.navbar-item
            a.navbar-link(ng-show="isLoggedIn" href="/settings")
                span.icon-settings