.page-title {
  text-align: center;
}

.main-button {
  color: #F6F6F6;
  //background-color: #F6F6F6 !important;
  border-color: #F6F6F6;
  border-width: 2px;
  margin-top: 50px;
  font-size: 1.5em !important;
  font-weight: lighter !important;
  border-radius: 5px !important;
  padding: 10px !important;
  height: auto !important;
}

.main-button:hover, .main-button:active {
  color: #0072ff;
  border-color: #0072ff;
}

.get-form {
  width: 100%
}

.get-form input{
  width: 100%;
}

.icon {
  max-height: 80px;
  width: auto;
  max-width: 80%;
  padding-top: 10px;
}

#get {
  width: 100%;
}

.get-form label {
  font-weight: normal;
}

.group:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.group { display: inline-block; }

.step {
  border: 2px #fff solid;
  border-spacing: 10px 50px;
  border-radius: 5px;
  margin-top: 20px;
}

.step p {
  margin: 20px;
  line-height: 1.2;
  font-size: 0.7em;
  font-family: 'Avenir' , 'Helvetica' ,  sans-serif;
  // vertical-align: middle !important;
  top: 50%;
}

.hero-unit{
  height: 100%;
  min-height: 649px;
  padding-top: 100px;
  margin-bottom: 30px;
  margin-top: -70px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #F6F6F6;
  background-color: #00c6ff;
  background:#00c6ff;
  background: -webkit-linear-gradient(0deg, #00c6ff 50%, #0072ff 100%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(0deg, #00c6ff 50%, #0072ff 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(0deg, #00c6ff 50%, #0072ff 100%); /* IE10 */
  background:      -o-linear-gradient(0deg, #00c6ff 50%, #0072ff 100%); /* Opera 11.10+ */
  background:         linear-gradient(0deg,#00c6ff 50%, #0072ff 100%); /* W3C */
}
.wufoo-form-container{
  height: 570px;
}
//Custom columns for hero unit
//Larger than phone */
@media (min-width: 720px) {
  .step {
    border: 2px #fff solid;
    border-spacing: 10px 50px;
    border-radius: 5px;
    min-height: 275px;
  }

  .step p {
    margin: 20px;
    // position: relative;
    // display: inline-block;
    line-height: 1.4;
    font-size: 1em;
    // vertical-align: middle !important;
    top: 50%;
  }
}