
div(ng-include="'app/components/navbar/navbar.html'")

.hero-unit
    h1.page-title The Empty Box co.
    .container
        p Getting moving boxes is now a 4 step process.
    .container
        .col-md-3
            .step
                img.icon(ng-src ="./assets/images/van.svg" alt="Van Icon")
                p step 1: We deliver to you, our sturdy clear plastic containers.
        .col-md-3
            .step
                img.icon(ng-src ="./assets/images/box.svg" alt="Box Icon")
                p step 2: You put your things inside the containers and write on the dry erase label.
        .col-md-3
            .step
                img.icon(ng-src ="./assets/images/home.svg" alt="home Icon")
                p step 3: You transport your things to your new home and unpack.
        .col-md-3
            .step
                img.icon(ng-src ="./assets/images/cash_or_return.svg" alt="cash or return icon")
                p step 4: You can return the containers to us OR purchase them to keep forever
    .row
        a.main-button.btn(href="#get") Get Started!
.main
    .container
        .form.col-sm-6.col-sm-offset-3
          #get
              #wufoo-zqs41wq1cgzl2p Fill out my <a href='https://emptybox.wufoo.com/forms/zqs41wq1cgzl2p'> online form</a>
              script(type='text/javascript').
                var zqs41wq1cgzl2p;(function(d, t) {
                var s = d.createElement(t), options = {
                'userName':'emptybox',
                'formHash':'zqs41wq1cgzl2p',
                'autoResize':true,
                'height':'540',
                'async':true,
                'host':'wufoo.com',
                'header':'show',
                'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { zqs41wq1cgzl2p = new WufooForm();zqs41wq1cgzl2p.initialize(options);zqs41wq1cgzl2p.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');
div(ng-include="'app/components/footer/footer.html'")